parameters:
    level: 9
    paths:
        - app
    excludePaths:
        - app/Kernel.php

    bootstrapFiles:
        - vendor/autoload.php

    ignoreErrors:
        - '#Call to an undefined method Hyperf\\Database\\Model\\Builder#'
        - '#Access to an undefined property Hyperf\\Database\\Model\\Model#'
        - identifier: missingType.generics

    checkMissingIterableValueType: true

    tmpDir: runtime/phpstan
